@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

.menu-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 111px;
}

/* Estilo del logo */
.menu-container .logo img {
    height: 59px;
    border-radius: 10px;
}

/* Checkbox para el menú responsive */
.menu-container input[type="checkbox"] {
    display: none;
}

/* Icono del menú responsive */
.menu-container label img.menu-responsib {
    height: 30px;
    cursor: pointer;
    display: none;
}

/* Estilos del menú */
.contenido-nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
}

.contenido-nav ul li {
    position: relative;
}

.contenido-nav ul li a {
    text-decoration: none;
    color: #32609E;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contenido-nav a.active{
    font-weight: bold; /* Mantiene el texto en negrita */
    color: #32609E; /* Cambia el color del texto a rojo para resaltar */
    text-decoration: underline; /* Añade un subrayado al enlace activo */
    text-decoration-thickness: 3px; /* Grosor del subrayado */
}

.contenido-nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


/* Estilos de la sección de productos */

.productos-section h1{
    text-align: center;
    font-size: 48px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #32609E;
    padding: 50px 20px;
    width: 100%;
}

.card-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Espaciado entre cards */
}

.card {
    background-color: #ffffff; /* Fondo blanco para la card */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 15px; /* Margen alrededor de cada card */
    padding: 20px; /* Espacio interno */
    width: calc(30% - 30px); /* Ancho de las cards */
    transition: transform 0.3s ease; /* Efecto de transición */
    font-family: "Inter", sans-serif; /* Tipografía consistente */
    color: black; /* Color del texto */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
}

.card svg {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
    background-color: #4590F1;
    border-radius: 50%; /* Hace que el svg tenga forma circular */
    padding: 15px; /* Opcional: agrega espacio dentro del círculo */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del círculo */
}
.card h2 {
    margin-top: 15px;
    margin-bottom: 15px; /* Espacio debajo del título */
    font-family: "Jost", sans-serif; /* Cambiar a Jost para el título */
    font-size: 25px; /* Ajustar el tamaño del título */
    color: #32609E; /* Color del título */
    padding-left: 25px;
}

.card ul {
    list-style-type:disc; /* Eliminar viñetas */
    padding: 0; /* Eliminar padding */
    font-size: 16px; /* Tamaño de fuente para la lista */
    padding-left: 10px;
}

.column-list {
    columns: 2; /* Dividir la lista en dos columnas */
}


/* Estilos pie de pagina */

footer {
    background-color: #32609E;
    color: #fff;
    padding: 40px 0;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.prolacol-info, .location, .redes {
    flex: 1;
    margin: 20px;
}

.prolacol-info h3, .location h3, .redes h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.prolacol-info p, .location span {
    font-size: 16px;
    line-height: 1.6;
}

.phone, .email, .web {
    margin: 10px 0;
}

.phone a, .email a, .web a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.phone a:hover, .email a:hover, .web a:hover {
    color: #ffcc00;
}

.phone svg, .email svg, .web svg, .location svg {
    vertical-align: middle;
}

.location {
    text-align: left;
}

.container-map iframe {
    width: 100%;
    max-width: 400px;
    height: 300px;
    border: 0;
    border-radius: 10px;
}

/* Estilo general del botón de WhatsApp */
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25D366; /* Color verde de WhatsApp */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed; /* Mantiene el botón en la pantalla */
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Color verde oscuro de WhatsApp */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.whatsapp-button svg {
    fill: #ffffff; /* Color del icono de WhatsApp */
    width: 36px; /* Aumentado el tamaño del SVG */
    height: 36px; /* Aumentado el tamaño del SVG */
}

/* Estilo del tooltip */
.tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 50%; /* Ajusta la posición vertical del tooltip */
    right: 100%; /* Posiciona el tooltip a la izquierda del botón */
    margin-right: 10px; /* Espacio entre el tooltip y el botón */
    transform: translateY(50%); /* Alinea verticalmente el tooltip con el botón */
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
}

.whatsapp-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Estilos para el menú en dispositivos móviles */
@media (max-width: 768px) {
    .menu-container {
        padding: 12px 20px; /* Ajustar el padding para pantallas pequeñas */
    }

    .menu-container label img.menu-responsib {
        display: block; /* Muestra el ícono del menú en pantallas pequeñas */
    }

    .contenido-nav {
        position: absolute;
        top: 87px; /* Ajusta según la altura del contenedor del menú */
        left: 0;
        width: 100%;
        background-color: #ffffff;
        display: none; /* Oculta el menú por defecto */
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .contenido-nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .contenido-nav ul li {
        width: 100%;
        text-align: center;
    }

    .contenido-nav ul li a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    /* Mostrar el menú cuando el checkbox está marcado */
    input[type="checkbox"]:checked ~ .contenido-nav {
        display: flex;
    }
}

/* pidepagina movil */

@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        text-align: center;
    }

    .prolacol-info, .location, .redes {
        margin: 10px 0;
        width: 100%;
    }

    .prolacol-info h3, .location h3, .redes h3 {
        font-size: 20px;
        text-align: center;
    }

    .prolacol-info p, .location span {
        font-size: 14px;
        text-align: center;
    }

    .phone, .email, .web {
        margin: 5px 0;
    }

    .phone a, .email a, .web a {
        font-size: 14px;
    }

    .container-map iframe {
        width: 100%;
        max-width: 100%;
        height: 250px;
    }
}